.wallet-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin-top: 5rem;
    align-items: center;
    animation: walletAnimation;
    animation-duration: .4s;
}

.wallet-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallet-image img {
    width: 40rem;
}

.wallet-connect {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.wallet-connect p {
    font-size: 3rem;
    text-align: center;
    width: 25rem;
    color: var(--color-30);
}

.wallet-button {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--color-30);
    color: var(--color-white);
    width: 35rem;
    cursor: pointer;
    transition: .2s ease;
}

.wallet-button:hover {
    background-color: var(--color-30-hover);
    transform: scale(1.1);
    box-shadow: var(--shadow-button);
}

.button-area {
    height: 5rem;
}

@keyframes walletAnimation {

    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}