.adminPanel {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    overflow-y: scroll;
    height: 90vh;
}

.adminPanel__button {
    position: absolute;
    right: 0;
    position: fixed;
    margin-right: 5rem;
    border-radius: 100%;
    padding: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-30);
    cursor: pointer;
    transition: .2s ease;
}

.adminPanel__button:hover {
    background-color: var(--color-30-hover);
    box-shadow: var(--shadow);
}

.adminPanel__button img {
    width: 5rem;
}