@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800;900&display=swap');

:root {
  --font: 'Poppins', sans-serif;
  --color-60: #FFFF;
  --color-30: #469BB1;
  --color-10: #D3D3D3;
  --color-white: #FFFF;
  --color-30-hover: #1887A4;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --shadow-button: rgba(0, 0, 0, 0.44) 0px 3px 8px;
  
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: var(--font);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: var(--font);
}

h1,
h2,
h3,
p,
button,
input,
label,
div,
section,
main,
form,
textarea,
select,
option,
a,
img {
  font-family: var(--font);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

p,
a,
input,
button,
label,
textarea {
  font-size: 1.8rem;
  font-weight: 500;
}

.toast-custom {
  background-color: rgb(28, 206, 28);
  color: var(--color-white);
  font-size: 1.5rem;
}
.toast-custom-bad{
  background-color: rgb(255, 50, 50);
  color: var(--color-white);
  font-size: 1.5rem;
}
.toast-progress {
  background-color: var(--color-60)
}